.setting-list {
  display: flex;
  flex-direction: column;
}

.setting-setting {
  padding: 20px 0px;
  border-bottom: var(--main-border);
  font-size: 18px;
  display: flex;
  justify-content: space-between;
}

.setting-setting span {
  margin: 0px 15px;
}

.setting-logout {
  width: 100%;
  cursor: pointer;
}

.setting-column:last-child {
  opacity: 0.7;
}

.left-btn {
  width: 30px;
  height: 48px;
  position: absolute;
  opacity: 0;
}

.left-btn:hover {
  cursor: pointer;
}
