.nav-flex {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 55px;
  padding: 0px 30px;
  box-sizing: border-box;
  background-color: #f9f9fa;
  border-top: 1px solid rgba(121, 121, 121, 0.3);
}
.nav-link {
  position: relative;
}

.chat-notification {
  position: absolute;
  bottom: 15px;
  left: 15px;
}

.info-notification {
  background-color: tomato;
  width: 5px;
  height: 5px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -10px;
  left: 30px;
}
